/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Importing */






/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Text elements */
*, *:before, *:after{
    box-sizing: border-box;
  }

.main-header{
    padding:1rem;
}



/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Styling Images */
.logo{
    max-width:8rem;
    width:100%;
    transition:all 0.7s ease-in-out;
}

.logo:hover, .logo:focus{
    transform:scale(1.025);
}






/* ------------------------------------------------------------------------------------------------------------------------------ */








/* ------------------------------------------------------------------------------------------------------------------------------ */







/* ------------------------------------------------------------------------------------------------------------------------------ */







/* ------------------------------------------------------------------------------------------------------------------------------ */