/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Importing */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');





/* ------------------------------------------------------------------------------------------------------------------------------ */
/* General Structure */
*, *:before, *:after{
    box-sizing: border-box;
  }

.main-header{
    padding:1rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Text */
body{
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.text-h1{
    font-family: 'Roboto', sans-serif;
}
.citation{
    padding:1rem;
}


/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Images */
.logo{
    max-width:8rem;
    width:100%;
    transition:all 0.7s ease-in-out;
}

.logo:hover, .logo:focus{
    transform:scale(1.025);
}






/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Buttons */







/* ------------------------------------------------------------------------------------------------------------------------------ */







/* ------------------------------------------------------------------------------------------------------------------------------ */







/* ------------------------------------------------------------------------------------------------------------------------------ */